Project1/flows.json
[
    {
        "id": "5f0a38f5.9453d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c8ffba1e.97a0c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.neslab.it",
        "port": "3200",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "4b0449ba.97fce8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.neslab.it",
        "port": "3200",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "40ea7986.e2ad18",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.neslab.it",
        "port": "3200",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "727e248f.a7953c",
        "type": "websocket-listener",
        "z": "",
        "path": "ws://172.17.0.2:8989",
        "wholemsg": "false"
    },
    {
        "id": "dc06e01e.b2a43",
        "type": "websocket-client",
        "z": "",
        "path": "ws://172.17.0.2:8989",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "c9690785.44fba8",
        "type": "inject",
        "z": "5f0a38f5.9453d8",
        "name": "Simulate createGroups",
        "topic": "Project1/createGroup",
        "payload": "Hello World",
        "payloadType": "str",
        "repeat": "36000",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "a5b1d94a.ce8068",
                "363b31c0.3d4cfe",
                "58e0ad93.2681d4"
            ]
        ]
    },
    {
        "id": "5d549faa.51f61",
        "type": "mqtt in",
        "z": "5f0a38f5.9453d8",
        "name": "Project1/createGroup",
        "topic": "nsds2023/search",
        "qos": "1",
        "datatype": "auto",
        "broker": "c8ffba1e.97a0c8",
        "x": 260,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5ddf5f94.673c",
        "type": "file",
        "z": "5f0a38f5.9453d8",
        "name": "writeToCsv",
        "filename": "/data/output.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 910,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a5b1d94a.ce8068",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "simulateMQTT1",
        "func": "// FIRST GROUP\n// var simulate = [\n//     { teamLeaderIP: \"200:54:32\", listofIPs: \"200:54:32,200:85:33,200:77:90\", cardinality: 3 }\n// ]\n\n// SECOND GROUP\nvar simulate = [\n    { teamLeaderIP: \"200:43:32\", listofIPs: \"200:43:32,200:11:85,200:79:15\", cardinality: 3 }\n]\n\nvar simulateString = JSON.stringify(simulate);\nvar timestampString = new Date().toISOString();\nvar combinedString = simulateString + timestampString;\n\nmsg.payload = combinedString;\n\nvar timestamp = new Date();\n\nvar payloadObj = {\n    teamLeaderIP: simulate[0].teamLeaderIP,\n    timestamp: timestamp.toISOString(),\n    members: simulate[0].listofIPs.split(\",\"),\n    cardinality: simulate[0].cardinality\n};\n\nmsg.payload = JSON.stringify(payloadObj);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "b136e492.ff05b8"
            ]
        ]
    },
    {
        "id": "b136e492.ff05b8",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "convertToJSObject",
        "func": "var inputString = msg.payload;\n\n// Parse the string to convert it to a JavaScript object\nvar parsedObject = JSON.parse(inputString);\n\n// Now, parsedObject contains the JavaScript object\nmsg.payload = parsedObject;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "71bdf7be.065a18"
            ]
        ]
    },
    {
        "id": "3a206caa.2bdd34",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "prepareNewCsvLine",
        "func": "// Extract data from msg.payload\nconst newGroup = msg.payload[0];\nconst people = msg.payload[1];\nconst groups = msg.payload[2];\n\nlet newGroupID = 0;\nif (groups.length != 0) {\n    for (let i = 0; i < groups.length; i++) {\n    if (groups[i].groupID > newGroupID) {\n        newGroupID = groups[i].groupID;\n    }\n}\nnewGroupID = newGroupID + 1\n}\n\nconst newGroupMembers = newGroup.members;\nconst columnHeaders = \"groupID,teamLeader,listOfPeople,nationality,age,dateJoined,dateEnded,lifetime,currentCardinality,minCardinality,maxCardinality,averageCardinality,nChangeCardinality\";\n\nconst matchingPeople = [];\nconst missingIPs = [];\nconst nationalities = [];\nconst ages = [];\nfor (const ip of newGroupMembers) {\n    const matchingPerson = people.find(person => person.IP === ip);\n    if (matchingPerson) {\n        matchingPeople.push(matchingPerson);\n        nationalities.push(matchingPerson.nationality);\n        ages.push(matchingPerson.age);\n    } else {\n        missingIPs.push(ip);\n    }\n}\n\nif (missingIPs.length > 0) {\n    // One or more IPs not found in database\n    msg.payload = \"One or more IPs not found in database: \" + missingIPs.join(', ');\n    return [msg, null];\n}\n\nconst teamLeader = newGroup.teamLeaderIP;\nconst dateJoined = newGroup.timestamp || new Date().toISOString();\nconst dateEnded = 'null';\nconst lifetime = 0;\nconst currentCardinality = newGroup.cardinality;\nconst minCardinality = newGroup.cardinality;\nconst maxCardinality = newGroup.cardinality;\nconst averageCardinality = newGroup.cardinality;\nconst nChangeCardinality = 1;\n\nconst nationalityList = nationalities.join(',');\nconst ageList = ages.join(',');\n\nconst csvRow = `${newGroupID},${teamLeader},\"${newGroupMembers.join(',')}\",\"${nationalityList}\",\"${ageList}\",${dateJoined},${dateEnded},${lifetime},${currentCardinality},${minCardinality},${maxCardinality},${averageCardinality},${nChangeCardinality}`;\n\nmsg.payload = csvRow;\n\n\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "a8989c5.12a586"
            ],
            [
                "5ddf5f94.673c",
                "c0216964.d38ab8"
            ]
        ]
    },
    {
        "id": "df7de676.13f518",
        "type": "file in",
        "z": "5f0a38f5.9453d8",
        "name": "Read Groups",
        "filename": "/data/output.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "bcc0d2b3.7d951"
            ]
        ]
    },
    {
        "id": "bcc0d2b3.7d951",
        "type": "csv",
        "z": "5f0a38f5.9453d8",
        "name": "read",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "groupID,teamLeader,listOfPeople,nationality,age,dateJoined,dateEnded,lifetime,currentCardinality,minCardinality,maxCardinality,averageCardinality,nChangeCardinality",
        "skip": "0",
        "strings": false,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "b086bf1d.cd6ad"
            ]
        ]
    },
    {
        "id": "843e41cf.824bb",
        "type": "inject",
        "z": "5f0a38f5.9453d8",
        "name": "Simulate changeCardinality",
        "topic": "Project1/changeCardinality",
        "payload": "Hello World",
        "payloadType": "str",
        "repeat": "36000",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 440,
        "wires": [
            [
                "fcd66188.5506f",
                "df7de676.13f518",
                "ea4c9123.0758f"
            ]
        ]
    },
    {
        "id": "fcd66188.5506f",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "simulateMQTT",
        "func": "// GROUP GROWS\nvar simulate = [\n    { teamLeaderIP: \"200:54:32\", listofIPs: \"200:54:32,200:85:33,200:77:90,200:21:75\", cardinality: 4 }\n]\n\n// GROUP DIES\n// var simulate = [\n//     { teamLeaderIP: \"200:43:32\", listofIPs: \"200:43:32,200:11:85\", cardinality: 2 }\n// ]\n\nvar simulateString = JSON.stringify(simulate);\nvar timestampString = new Date().toISOString();\nvar combinedString = simulateString + timestampString;\n\nmsg.payload = combinedString;\n\nvar timestamp = new Date();\n\nvar payloadObj = {\n    groupID: simulate[0].teamLeaderIP,\n    timestamp: timestamp.toISOString(),\n    members: simulate[0].listofIPs.split(\",\"),\n    cardinality: simulate[0].cardinality\n};\n\nmsg.payload = JSON.stringify(payloadObj);\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 500,
        "wires": [
            [
                "c2ee3974.495cb8"
            ]
        ]
    },
    {
        "id": "c2ee3974.495cb8",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "convertToJSObject",
        "func": "var inputString = msg.payload;\n\n// Parse the string to convert it to a JavaScript object\nvar parsedObject = JSON.parse(inputString);\n\n// Now, parsedObject contains the JavaScript object\nmsg.payload = parsedObject;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 500,
        "wires": [
            [
                "b086bf1d.cd6ad"
            ]
        ]
    },
    {
        "id": "b086bf1d.cd6ad",
        "type": "join",
        "z": "5f0a38f5.9453d8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 520,
        "wires": [
            [
                "5dff87d.1a69d78"
            ]
        ]
    },
    {
        "id": "c0216964.d38ab8",
        "type": "debug",
        "z": "5f0a38f5.9453d8",
        "name": "printNewCsvLine",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "c5d52b6b.1fb5b8",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "prepareNewCsvLine",
        "func": "// Extract data from msg.payload\nconst newLine = msg.payload[0];\nconst oldLines = msg.payload[1];\nconst people = msg.payload[2];\n\n// Extract groupID from the newLine object\nconst newGroupID = newLine.groupID;\n\nconst columnHeaders = \"groupID,teamLeader,listOfPeople,nationality,age,dateJoined,dateEnded,lifetime,currentCardinality,minCardinality,maxCardinality,averageCardinality,nChangeCardinality\";\n\n// Initialize an array to store all CSV rows\nconst allCsvRows = [];\nallCsvRows.push(columnHeaders);\n\nlet matchFound = false;\nlet matchingIndex = -1;\n\n// Find the row in the CSV that matches teamLeader with groupID and has dateEnded == null\nfor (let i = 0; i < oldLines.length; i++) {\n    if (oldLines[i].teamLeader === newGroupID && oldLines[i].dateEnded === 'null') {\n        matchingIndex = i;\n        matchFound = true;\n        break;\n    }\n}\n\nif (!matchFound) {\n    // No matching groupID found\n    msg.payload = \"Error: No matching team leader found\"\n    return [msg, null];\n}\n\n\nfor (let i = 0; i < oldLines.length; i++) {\n    \n    // Update csv line\n    if (i === matchingIndex) {\n\n        const { teamLeader, members, cardinality } = newLine;\n        const { groupID, listOfPeople, nationality, age, dateJoined, dateEnded, lifetime, currentCardinality, minCardinality, maxCardinality, averageCardinality, nChangeCardinality } = oldLines[i];\n\n        // find new member\n        const listOfPeopleArray = listOfPeople.split(',');\n        const newMember = members.find(member => !listOfPeopleArray.includes(member));\n        \n        // match it with people dataset\n        const matchingPerson = people.find(person => person.IP === newMember);\n        const newMemberNationality = matchingPerson ? matchingPerson.nationality : '';\n        const newMemberAge = matchingPerson ? matchingPerson.age : '';\n        \n        const newListOfPeople = listOfPeople ? `${listOfPeople},${newMember}` : newMember;\n        const newNationality = nationality ? `${nationality},${newMemberNationality}` : newMemberNationality;\n        const newAge = age ? `${age},${newMemberAge}` : newMemberAge;\n        \n\n        let newMinCardinality = parseInt(minCardinality);\n        let newMaxCardinality = parseInt(maxCardinality);\n\n        if (parseInt(cardinality) < newMinCardinality || isNaN(newMinCardinality)) {\n            newMinCardinality = parseInt(cardinality);\n        }\n        if (parseInt(cardinality) > newMaxCardinality || isNaN(newMaxCardinality)) {\n            newMaxCardinality = parseInt(cardinality);\n        }\n\n        const newNChangeCardinality = parseInt(nChangeCardinality) + 1;\n        const newAverageCardinality = (((parseFloat(averageCardinality) * parseInt(nChangeCardinality)) + parseInt(cardinality)) / newNChangeCardinality).toFixed(2);\n        const newCurrentCardinality = parseInt(currentCardinality) + 1;\n\n        const timestampDate = new Date();\n        const dateJoinedDate = new Date(dateJoined);\n        const differenceInSeconds = (timestampDate - dateJoinedDate) / 1000;\n        const lifetimeSeconds = parseFloat(lifetime) + differenceInSeconds;\n\n        // Construct the modified CSV row\n        const modifiedCsvRow = `${groupID},${oldLines[i].teamLeader},\"${newListOfPeople}\",\"${newNationality}\",\"${newAge}\",\"${dateJoined}\",\"${dateEnded}\",${lifetimeSeconds},${newCurrentCardinality},${newMinCardinality},${newMaxCardinality},${newAverageCardinality},${newNChangeCardinality}`;\n        \n        // Push the modified CSV row to the array\n        allCsvRows.push(modifiedCsvRow);\n        \n    } else {\n        \n        // Construct CSV row for other lines\n        const { groupID, teamLeader, dateJoined, dateEnded, lifetime, currentCardinality, minCardinality, maxCardinality, averageCardinality, nChangeCardinality } = oldLines[i];\n\n        const csvRow = `${groupID},${oldLines[i].teamLeader},\"${oldLines[i].listOfPeople}\",\"${oldLines[i].nationality}\",\"${oldLines[i].age}\",\"${dateJoined}\",\"${dateEnded}\",${lifetime},${currentCardinality},${minCardinality},${maxCardinality},${averageCardinality},${nChangeCardinality}`;\n        \n        allCsvRows.push(csvRow);\n    }\n}\n\n// Pass all CSV rows to the next node\nmsg.payload = allCsvRows.join('\\n');\n\nreturn [null, msg];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 640,
        "y": 660,
        "wires": [
            [
                "b4f60b6e.2a76e8"
            ],
            [
                "c71e0786.0d7078",
                "d32cc1a3.fcab7"
            ]
        ]
    },
    {
        "id": "c71e0786.0d7078",
        "type": "debug",
        "z": "5f0a38f5.9453d8",
        "name": "printNewCsvLine",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 910,
        "y": 680,
        "wires": []
    },
    {
        "id": "d32cc1a3.fcab7",
        "type": "file",
        "z": "5f0a38f5.9453d8",
        "name": "writeToCsv",
        "filename": "/data/output.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 890,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d1357d8a.3e2d8",
        "type": "mqtt in",
        "z": "5f0a38f5.9453d8",
        "name": "Project1/changeCardinality",
        "topic": "Project1/changeCardinality",
        "qos": "1",
        "datatype": "auto",
        "broker": "c8ffba1e.97a0c8",
        "x": 270,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b4f60b6e.2a76e8",
        "type": "debug",
        "z": "5f0a38f5.9453d8",
        "name": "printError",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 880,
        "y": 620,
        "wires": []
    },
    {
        "id": "51d0c868.d547b8",
        "type": "mqtt in",
        "z": "5f0a38f5.9453d8",
        "name": "Project1/newEnvironmentPerson",
        "topic": "Project1/newEnvironmentPerson",
        "qos": "1",
        "datatype": "auto",
        "broker": "c8ffba1e.97a0c8",
        "x": 290,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "e7ac3205.2d5ad",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "simulateMQTT",
        "func": "// var person = { IP: \"200:54:32\", nationality: \"Italy\", age: 30 };\n// var person = { IP: \"200:85:33\", nationality: \"Argentina\", age: 25 };\n//var person = { IP: \"200:77:90\", nationality: \"Italy\", age: 30 };\n// var person = { IP: \"200:11:85\", nationality: \"Italy\", age: 25 };\n// var person = { IP: \"200:21:75\", nationality: \"Germany\", age: 42 };\n// var person = { IP: \"200:43:32\", nationality: \"US\", age: 20 };\nvar person = { IP: \"200:79:15\", nationality: \"US\", age: 30 };\n\n\n// msg.payload = JSON.stringify(person);\nvar personString = JSON.stringify(person);\nvar timestampString = new Date().toISOString();\nvar combinedString = personString + timestampString;\n\nvar timestamp = new Date();\n\nvar payloadObj = {\n    dateJoined: timestamp.toISOString(),\n    IP: person.IP,\n    nationality: person.nationality,\n    age: person.age\n};\n\nmsg.payload = JSON.stringify(payloadObj);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 860,
        "wires": [
            [
                "d5ad4455.433a08"
            ]
        ]
    },
    {
        "id": "9009724d.5b9cd",
        "type": "inject",
        "z": "5f0a38f5.9453d8",
        "name": "Simulate newEnvironmentPerson",
        "topic": "Project1/newEnvironmentPerson",
        "payload": "Hello World",
        "payloadType": "str",
        "repeat": "36000",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 800,
        "wires": [
            [
                "e7ac3205.2d5ad",
                "343eea88.02e386"
            ]
        ]
    },
    {
        "id": "343eea88.02e386",
        "type": "file in",
        "z": "5f0a38f5.9453d8",
        "name": "Read Environment",
        "filename": "/data/environment.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 250,
        "y": 900,
        "wires": [
            [
                "cb1fa2de.85b06"
            ]
        ]
    },
    {
        "id": "cb1fa2de.85b06",
        "type": "csv",
        "z": "5f0a38f5.9453d8",
        "name": "read",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "dateJoined,IP,nationality,age",
        "skip": "0",
        "strings": false,
        "x": 410,
        "y": 900,
        "wires": [
            [
                "9418e315.bffd"
            ]
        ]
    },
    {
        "id": "d5ad4455.433a08",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "convertToJSObject",
        "func": "var inputString = msg.payload;\n\n// Parse the string to convert it to a JavaScript object\nvar parsedObject = JSON.parse(inputString);\n\n// Now, parsedObject contains the JavaScript object\nmsg.payload = parsedObject;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 860,
        "wires": [
            [
                "9418e315.bffd"
            ]
        ]
    },
    {
        "id": "9418e315.bffd",
        "type": "join",
        "z": "5f0a38f5.9453d8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 880,
        "wires": [
            [
                "f0168d63.55ff2"
            ]
        ]
    },
    {
        "id": "f0168d63.55ff2",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "prepareNewCsvLine",
        "func": "// Extract data from msg.payload\nconst newLine = msg.payload[0];\nconst oldLines = msg.payload[1];\n\nlet matchFound = false;\nlet matchingIndex = -1;\n\n// Iterate over the objects in the second array to find matching IP\nfor (let i = 0; i < oldLines.length; i++) {\n    const groupIdStr = oldLines[i].IP;\n    if (groupIdStr === newLine.IP) {\n        matchingIndex = i;\n        matchFound = true;\n        break;\n    }\n}\n\nif (matchFound) {\n    // IP already in database\n    msg.payload = \"Error: IP already inside database\"\n    return [msg, null];\n}\n\nconst csvRow = `${newLine.dateJoined},${newLine.IP},\"${newLine.nationality}\",\"${newLine.age}\"`;\n\nmsg.filename = \"/data/to_spark/\" + newLine.IP + \".csv\"\nmsg.payload = csvRow;\n\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 640,
        "y": 980,
        "wires": [
            [
                "d5909e2d.7fda3"
            ],
            [
                "24f01e82.d79572",
                "e7ca5466.719198",
                "ce842e1c.23db5"
            ]
        ]
    },
    {
        "id": "24f01e82.d79572",
        "type": "debug",
        "z": "5f0a38f5.9453d8",
        "name": "printNewCsvLine",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e7ca5466.719198",
        "type": "file",
        "z": "5f0a38f5.9453d8",
        "name": "writeToCsv",
        "filename": "/data/environment.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 930,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "d5909e2d.7fda3",
        "type": "debug",
        "z": "5f0a38f5.9453d8",
        "name": "printError",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 920,
        "y": 940,
        "wires": []
    },
    {
        "id": "363b31c0.3d4cfe",
        "type": "file in",
        "z": "5f0a38f5.9453d8",
        "name": "Read Environment",
        "filename": "/data/environment.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "993a9daf.deb17"
            ]
        ]
    },
    {
        "id": "993a9daf.deb17",
        "type": "csv",
        "z": "5f0a38f5.9453d8",
        "name": "read",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "dateJoined,IP,nationality,age",
        "skip": "0",
        "strings": false,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "71bdf7be.065a18"
            ]
        ]
    },
    {
        "id": "71bdf7be.065a18",
        "type": "join",
        "z": "5f0a38f5.9453d8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "3a206caa.2bdd34"
            ]
        ]
    },
    {
        "id": "a8989c5.12a586",
        "type": "debug",
        "z": "5f0a38f5.9453d8",
        "name": "Error Missing IPs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "ea4c9123.0758f",
        "type": "file in",
        "z": "5f0a38f5.9453d8",
        "name": "Read Environment",
        "filename": "/data/environment.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "d1835062.baee6"
            ]
        ]
    },
    {
        "id": "d1835062.baee6",
        "type": "csv",
        "z": "5f0a38f5.9453d8",
        "name": "read",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "dateJoined,IP,nationality,age",
        "skip": "0",
        "strings": false,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "b086bf1d.cd6ad"
            ]
        ]
    },
    {
        "id": "5dff87d.1a69d78",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "Routing",
        "func": "if (msg.payload[0].cardinality < 3) {\n    // Route the message in one direction\n    return [msg, null];\n} else {\n    // Route the message in another direction\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "x": 760,
        "y": 520,
        "wires": [
            [
                "65d22d63.b80c74"
            ],
            [
                "c5d52b6b.1fb5b8"
            ]
        ]
    },
    {
        "id": "65d22d63.b80c74",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "addDateEnded",
        "func": "// Extract data from msg.payload\nconst newLine = msg.payload[0];\nconst oldLines = msg.payload[1];\nconst people = msg.payload[2];\n\n// Extract groupID from the newLine object\nconst newGroupID = newLine.groupID;\n\nconst columnHeaders = \"groupID,teamLeader,listOfPeople,nationality,age,dateJoined,dateEnded,lifetime,currentCardinality,minCardinality,maxCardinality,averageCardinality,nChangeCardinality\";\n\n// Initialize an array to store all CSV rows\nconst allCsvRows = [];\nallCsvRows.push(columnHeaders);\n\nlet matchFound = false;\nlet matchingIndex = -1;\n\n// Find the row in the CSV that matches teamLeader with groupID and has dateEnded == null\nfor (let i = 0; i < oldLines.length; i++) {\n    if (oldLines[i].teamLeader === newGroupID && oldLines[i].dateEnded === 'null') {\n        matchingIndex = i;\n        matchFound = true;\n        break;\n    }\n}\n\nif (!matchFound) {\n    // No matching groupID found\n    msg.payload = \"Error: No matching team leader found\"\n    return [msg, null];\n}\n\n\nfor (let i = 0; i < oldLines.length; i++) {\n    \n    // Update csv line\n    if (i === matchingIndex) {\n\n        const { teamLeader, members, cardinality } = newLine;\n        const { groupID, listOfPeople, nationality, age, dateJoined, dateEnded, lifetime, currentCardinality, minCardinality, maxCardinality, averageCardinality, nChangeCardinality } = oldLines[i];\n\n\n        let newMinCardinality = 2\n        let newMaxCardinality = parseInt(maxCardinality);\n\n        if (parseInt(cardinality) < newMinCardinality || isNaN(newMinCardinality)) {\n            newMinCardinality = parseInt(cardinality);\n        }\n        if (parseInt(cardinality) > newMaxCardinality || isNaN(newMaxCardinality)) {\n            newMaxCardinality = parseInt(cardinality);\n        }\n\n        const newNChangeCardinality = parseInt(nChangeCardinality) + 1;\n        const newAverageCardinality = (((parseFloat(averageCardinality) * parseInt(nChangeCardinality)) + parseInt(cardinality)) / newNChangeCardinality).toFixed(2);\n        const newCurrentCardinality = 0;\n\n        const timestampDate = new Date();\n        const newDateEnded = timestampDate.toISOString();\n        const dateJoinedDate = new Date(dateJoined);\n        const differenceInSeconds = (timestampDate - dateJoinedDate) / 1000;\n        const lifetimeSeconds = parseFloat(lifetime) + differenceInSeconds;\n\n        // Construct the modified CSV row\n        const modifiedCsvRow = `${groupID},${oldLines[i].teamLeader},\"${listOfPeople}\",\"${nationality}\",\"${age}\",\"${dateJoined}\",\"${newDateEnded}\",${lifetimeSeconds},${newCurrentCardinality},${newMinCardinality},${newMaxCardinality},${newAverageCardinality},${newNChangeCardinality}`;\n        \n        // Push the modified CSV row to the array\n        allCsvRows.push(modifiedCsvRow);\n        \n    } else {\n        \n        // Construct CSV row for other lines\n        const { groupID, teamLeader, dateJoined, dateEnded, lifetime, currentCardinality, minCardinality, maxCardinality, averageCardinality, nChangeCardinality } = oldLines[i];\n\n        const csvRow = `${groupID},${oldLines[i].teamLeader},\"${oldLines[i].listOfPeople}\",\"${oldLines[i].nationality}\",\"${oldLines[i].age}\",\"${dateJoined}\",\"${dateEnded}\",${lifetime},${currentCardinality},${minCardinality},${maxCardinality},${averageCardinality},${nChangeCardinality}`;\n        \n        allCsvRows.push(csvRow);\n    }\n}\n\n// Pass all CSV rows to the next node\nmsg.payload = allCsvRows.join('\\n');\n\nreturn [null, msg];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 940,
        "y": 480,
        "wires": [
            [
                "ffa86b3f.4b7408"
            ],
            [
                "e75730fa.73201",
                "768864dd.77de4c"
            ]
        ]
    },
    {
        "id": "ffa86b3f.4b7408",
        "type": "debug",
        "z": "5f0a38f5.9453d8",
        "name": "printError",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1180,
        "y": 580,
        "wires": []
    },
    {
        "id": "e75730fa.73201",
        "type": "debug",
        "z": "5f0a38f5.9453d8",
        "name": "printNewCsvLine",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1210,
        "y": 640,
        "wires": []
    },
    {
        "id": "768864dd.77de4c",
        "type": "file",
        "z": "5f0a38f5.9453d8",
        "name": "writeToCsv",
        "filename": "/data/output.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1190,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "58e0ad93.2681d4",
        "type": "file in",
        "z": "5f0a38f5.9453d8",
        "name": "Read Groups",
        "filename": "/data/output.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "555c12f7.143d1c"
            ]
        ]
    },
    {
        "id": "555c12f7.143d1c",
        "type": "csv",
        "z": "5f0a38f5.9453d8",
        "name": "read",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "groupID,teamLeader,listOfPeople,nationality,age,dateJoined,dateEnded,lifetime,currentCardinality,minCardinality,maxCardinality,averageCardinality,nChangeCardinality",
        "skip": "0",
        "strings": false,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "71bdf7be.065a18"
            ]
        ]
    },
    {
        "id": "ce842e1c.23db5",
        "type": "file",
        "z": "5f0a38f5.9453d8",
        "name": "writeToSparkCsv",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 950,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "2278c27a.d65afe",
        "type": "function",
        "z": "5f0a38f5.9453d8",
        "name": "prepareNewCsvLine",
        "func": "const oldLines = msg.payload;\n\nconst allCsvRows = [];\n// const columnHeaders = \"date,nationality,age\";\n// allCsvRows.push(columnHeaders);\n\nconst today = new Date().toISOString().split('T')[0];\n// Since I am appending\nconst yesterday = new Date();\nyesterday.setDate(today.getDate() - 1);\nconst yesterdayISO = yesterday.toISOString().split('T')[0];\n\n\nfor (let i = 0; i < oldLines.length; i++) {\n    \n    const { groupID, listOfPeople, nationality, age, dateJoined, dateEnded, lifetime, currentCardinality, minCardinality, maxCardinality, averageCardinality, nChangeCardinality } = oldLines[i];\n        const listOfNationality = nationality ? nationality.split(',') : [];\n    const listOfAge = age ? age.split(',') : [];\n    \n    for (let j = 0; j < listOfNationality.length; j++) {\n        \n        // Skip line if empty line\n        if (!listOfNationality[j] || !listOfAge[j]) {\n            continue;\n        }\n        \n        // If the group has finished it's existence the previous day, skip\n        // In this way the csv only has TODAYS partecipants\n        if (dateEnded && dateEnded > yesterday) {\n            continue;\n        }\n        \n        const newRow = `${today},${listOfNationality[j]},${listOfAge[j]}`;\n\n        allCsvRows.push(newRow);\n    }\n}\n\n// Pass all CSV rows to the next node\nmsg.payload = allCsvRows.join('\\n');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 1260,
        "wires": [
            [
                "65c149a5.054f48",
                "59dae995.d02e18"
            ]
        ]
    },
    {
        "id": "b4f4507b.661f8",
        "type": "csv",
        "z": "5f0a38f5.9453d8",
        "name": "read",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "groupID,teamLeader,listOfPeople,nationality,age,dateJoined,dateEnded,lifetime,currentCardinality,minCardinality,maxCardinality,averageCardinality,nChangeCardinality",
        "skip": "0",
        "strings": false,
        "x": 450,
        "y": 1260,
        "wires": [
            [
                "2278c27a.d65afe"
            ]
        ]
    },
    {
        "id": "93c9d6cc.05ef68",
        "type": "inject",
        "z": "5f0a38f5.9453d8",
        "name": "24hours",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 1260,
        "wires": [
            [
                "fd10f585.3617d8"
            ]
        ]
    },
    {
        "id": "fd10f585.3617d8",
        "type": "file in",
        "z": "5f0a38f5.9453d8",
        "name": "Read Groups",
        "filename": "/data/output.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 290,
        "y": 1260,
        "wires": [
            [
                "b4f4507b.661f8"
            ]
        ]
    },
    {
        "id": "65c149a5.054f48",
        "type": "debug",
        "z": "5f0a38f5.9453d8",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 1240,
        "wires": []
    },
    {
        "id": "59dae995.d02e18",
        "type": "file",
        "z": "5f0a38f5.9453d8",
        "name": "writeToCsv",
        "filename": "/data/to_spark.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 890,
        "y": 1280,
        "wires": [
            []
        ]
    }
]